%p#notice= notice

%p
  %b Name:
  = @user.login

#videos
  %h2 Videos
  %table
    %tr
      %th Title
      %th
      %th
    - @user.videos.each do |video|
      %tr
        %td
          = link_to video.title, video
        %td
          = link_to 'Edit', edit_video_path(video) if own_account?
        %td
          = link_to 'Delete', video, method: :delete if own_account?
