%p#notice= notice

%p
  %b Title:
  = @video.title
%p
  %b Description:
  = @video.description
%p
  %b Video file name:
  = @video.video_file_name
%p
  %b Video content type:
  = @video.video_content_type
%p
  %b Video file size:
  = @video.video_file_size

= link_to 'Edit', edit_video_path(@video)
\|
= link_to 'Back', videos_path
